@model TagsIndexViewModel

<h1>@RenderTitleSegments(T["Tags"])</h1>

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <button type="button" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modalAddQuery">@T["Add Tag"]</button>
        </li>
    </ul>
    <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
        <input id="search-box" asp-for="Options.Search" class="form-control mr-sm-2" type="text" placeholder="@T["Search"]" autofocus="autofocus">
        <button type="submit" class="btn btn-secondary">@T["Search"]</button>
    </form>
</nav>

<form asp-action="Index">
    @* the form is necessary to generate and antiforgery token for the delete action *@
    @if (Model.Tags.Any())
    {
        <ul class="list-group">
            @foreach (var entry in Model.Tags)
            {
                <li class="list-group-item">
                    @await DisplayAsync(entry.Shape)
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @T["<strong>Nothing here!</strong> There are no tags for the moment."]
        </div>
    }
</form>

@await DisplayAsync(Model.Pager)

